



.bg-font-screen {
  background-color: #16181E;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari and Opera */
.yes-scrollbar::-webkit-scrollbar {
  display: flex;
}

.yes-scrollbar {
  -ms-overflow-style: 2px; /* IE and Edge */
  scrollbar-width: 2px; /* Firefox */
}
